body {
  background-color: #121212;
  color: white;
  margin: 0;
}

header {
  background-color: rgb(0, 0, 0);
  height: 60px;
  padding: 0 20px;
  margin-top: 0;
  display: flex;
  align-items: center;
  margin: 0;
  border-bottom: 2px solid black;
}

.big {
  font-size: 30px;
  margin: 0;
}

main {
  width: 65%;
  margin: 20px auto;
  background-color: #242323;
  border: 2px solid black;
  border-radius: 10px;
}

p {
  font-size: 18px;
}

h2 {
  margin-top: 0;
}

section {
  padding: 20px;
}

#about figure {
  justify-items: center;
  float: right;
  margin: 0;
}

#about figure img {
  max-width: 200px;
  max-height: 250px;
  border: 1px solid white;
  border-radius: 50%;
}

#about h2 {
  margin: 0;
}

.project {
  display: inline-flex;
}
