html {
  font-size: 16px;
}

body {
  background-color: #121212;
  color: white;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

/* Header */
header .content {
  background-color: rgb(0, 0, 0);
  padding: 0 20px;
  margin-top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 60px;
  margin: 0;
  border-bottom: 2px solid black;
  align-items: center;
}

.big {
  font-size: 30px;
  margin: 0;
  grid-column: 1 / 2;
}

.navigation {
  grid-column: 3 / 4;
}
.navigation ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

.navigation li {
  font-size: 1.2rem;

  padding: 5px 10px;
}

/* Main */
main {
  width: 65%;
  margin: 20px auto;
  background-color: #242323;
  box-shadow: 1px 1px rgb(12, 12, 12);
  border-radius: 10px;
}

p {
  font-size: 18px;
}

h2 {
  margin-top: 0;
}

section {
  padding: 20px;
}

/* About */
#about figure {
  justify-items: center;
  float: right;
  margin: 0;
}

#about figure img {
  max-width: 200px;
  max-height: 250px;
  border: 1px solid white;
  border-radius: 50%;
}

#about h2 {
  margin: 0;
}

/* Project */
.project {
  display: inline-flex;
}

/* Skills */

#skills {
  display: flex;
  justify-content: flex-start;
}

#skills figure {
}
