@import "tailwindcss";

.main-border {
  border: 1px;
  border-color: rgb(30, 30, 31);
  border-style: solid;
}

.text-primary {
  color: rgb(178, 167, 251);
}

.bg-secondary {
}

@keyframes slideLeft {
  to {
    transform: translateX(200px);
  }
}

.animated-card {
  background-color: red;
  width: 70px;
  height: 80px;
  animation-name: slideLeft;
  animation-duration: 2s;
}

#animation-container {
  width: 2000px;
  display: flex;

  animation-name: slideLeft;
  animation-duration: 2s;
  gap: 50px;
  animation-iteration-count: infinite;
}

.heading {
  @apply font-bold text-2xl;
}
