@import "tailwindcss";

.main-border {
  border: 1px;
  border-color: rgb(30, 30, 31);
  border-style: solid;
}

@keyframes slideRight {
  0% {
    transform: translateX(-33%);
  }
  100% {
    transform: translateX(0%);
  }
}

#animation-container {
  width: 2000px;
  display: flex;
  animation: slideRight 8s linear infinite;
}

.heading {
  @apply font-bold text-2xl;
}

.info {
  @apply bg-[#1E1E1F99] px-4 py-1 rounded-xl text-[#9CA3AF] font-semibold hover:scale-105 duration-300 transition tracking-tight flex items-center gap-1;
}

.text-primary {
  @apply text-[#B2A7FB];
}

.background {
  @apply bg-[#0F0F10];
}

.small-logo {
  @apply w-[18px] h-[18px];
}

.card {
  @apply p-6 bg-[#0F0F10] border-1 border-[#1E1E1F] mb-5 rounded-2xl;
}

.animated-card {
  @apply w-[400px] px-1 py-1 bg-black rounded-xl border-1 border-[#1E1E1F];
}
