@import "tailwindcss";

.main-border {
  border: 1px;
  border-color: rgb(30, 30, 31);
  border-style: solid;
}

@keyframes slideLeft {
  to {
    transform: translateX(200px);
  }
}

.animated-card {
  background-color: red;
  width: 70px;
  height: 80px;
  animation-name: slideLeft;
  animation-duration: 2s;
}

#animation-container {
  width: 2000px;
  display: flex;

  animation-name: slideLeft;
  animation-duration: 2s;
  gap: 50px;
  animation-iteration-count: infinite;
}

.heading {
  @apply font-bold text-2xl;
}

.info {
  @apply bg-[#1E1E1F99] px-4 py-1 rounded-xl text-[#9CA3AF] font-semibold hover:scale-105 duration-300 transition tracking-tight flex items-center gap-1;
}

.text-primary {
  @apply text-[#B2A7FB];
}

.background {
  @apply bg-[#0F0F10];
}

.small-logo {
  @apply w-[18px] h-[18px];
}
